[submodule "packages/shared"]
	path = packages/shared
	url = git@github.com:nine-theme/vuepress-shared.git
[submodule "packages/blog2"]
	path = packages/blog2
	url = git@github.com:nine-theme/vuepress-plugin-blog2.git
